 <div class="main-feedback__form">
  <div class="feedback-form">
    <div class="feedback-form__header">
      <h3 class="feedback-form__title">Свяжитесь с нами</h3>
      <div class="feedback-form__description">Опишите свой проект, оставьте контактные данные и мы с вами обязательно свяжемся, чтобы найти и предложить вам оптимальное решение</div>
    </div>
    <form class="form feedback-form__form" method="post" action="https://formspree.io/office@spalmalo.com" method="POST">
      <div class="form__item">
        <span class="form-field form-field_type_input input input_style_default">
          <span class="input__box">
            <input class="input__control" id="feedback-form__phone" name="feedback-form__phone" type="tel" placeholder="Ваш номер телефона">
          </span>
        </span>
      </div>
      <div class="form__item">
        <span class="form-field form-field_type_input input input_style_default">
          <span class="input__box">
            <input class="input__control" id="feedback-form__email" name="_replyto" type="email" placeholder="Ваш Email">
          </span>
        </span>
      </div>
      <div class="form__item">
        <div class="form-field form-field_type_textarea textarea textarea_style_default">
          <textarea class="textarea textarea__control" id="feedback-form__message" name="feedback-form__message" placeholder="Краткое описание проекта" cols="30" rows="10"></textarea>
        </div>
      </div>
      <div class="form__item">
        <button class="button button_style_solid button_color_aqua button_block" type="submit" value="Send">Отправить</button>
      </div>
    </form>
  </div>
</div>  