<div class="page__header">
<header class="header">
  <div class="header__inner">
    <div class="header__menu">
      <button class="menu-trigger h-corners">
        <svg class="icon icon_hamburger menu-trigger__icon">
          <use xlink:href="/images/icons.svg#hamburger"></use>
        </svg>
      </button>
    </div>
    <div class="header__logo">
      <a class="logo" href="/">
        <img src="/images/logo.svg" alt="Spalmalo">
      </a>
    </div>
    <div class="header__language">
      <div class="language-switcher">
        <div class="language-switcher__item language-switcher__item_active">
          <a class="language-switcher__link" href="#">Рус</a>
        </div>
        <div class="language-switcher__item">
          <a class="language-switcher__link" href="#">Eng</a>
        </div>
      </div>
    </div>
  </div>
</header>
</div>