    <div class="page__menu">
      <div class="mobile-menu">
        <div class="mobile-menu__inner">
          <div class="mobile-menu__top">
            <button class="mobile-menu__close">
              <svg class="icon icon_cross">
                <use xlink:href="/images/icons.svg#cross"></use>
              </svg>
            </button>
            <div class="mobile-menu__language">
              <!--div class="language-switcher language-switcher_dark">
                <div class="language-switcher__item language-switcher__item_active">
                  <a class="language-switcher__link" href="/">Рус</a>
                </div>
                <div class="language-switcher__item">
                  <a class="language-switcher__link" href="/en/">Eng</a>
                </div>
              </div-->
            </div>
          </div>
          <div class="mobile-menu__menu">
            <nav class="main-menu">
              <ul>
                <li class="main-menu__item main-menu__item_active">
                  <a class="main-menu__link" href="/">Главная</a>
                </li>
                <li class="main-menu__item">
                  <a class="main-menu__link" href="/projects">Проекты</a>
                </li>
                <li class="main-menu__item">
                  <a class="main-menu__link" href="/services">Услуги</a>
                </li>
                <li class="main-menu__item">
                  <a class="main-menu__link" href="/team">Команда</a>
                </li>
                <li class="main-menu__item">
                  <a class="main-menu__link" href="/contacts">Контакты</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="mobile-menu__feedback">
          <a class="button button button_style_solid button_color_aqua button_block button_rounded button_size_large" href="/contacts">Напишите нам</a>
        </div>
      </div>
    </div>
