          <ul class="services-list services-list_info-page">
            <li class="services-list__item">
              <div class="services-list-item">
                <a class="services-list-item__icon" href="#">
                  <img src="/images/services-list/1.svg" alt="Дизайн">
                </a>
                <h3 class="services-list-item__title">
                  <a href="#">Дизайн</a>
                </h3>
              </div>
            </li>
            <li class="services-list__item">
              <div class="services-list-item">
                <a class="services-list-item__icon" href="#">
                  <img src="/images/services-list/2.svg" alt="Веб - разработка">
                </a>
                <h3 class="services-list-item__title">
                  <a href="#">Веб - разработка</a>
                </h3>
              </div>
            </li>
            <li class="services-list__item">
              <div class="services-list-item">
                <a class="services-list-item__icon" href="#">
                  <img src="/images/services-list/3.svg" alt="Мобильная разработка">
                </a>
                <h3 class="services-list-item__title">
                  <a href="#">Мобильная разработка</a>
                </h3>
              </div>
            </li>
            <li class="services-list__item">
              <div class="services-list-item">
                <a class="services-list-item__icon" href="#">
                  <img src="/images/services-list/4.svg" alt="IT консультации">
                </a>
                <h3 class="services-list-item__title">
                  <a href="/services/consulting">IT консультации</a>
                </h3>
              </div>
            </li>
            <li class="services-list__item">
              <div class="services-list-item">
                <a class="services-list-item__icon" href="#">
                  <img src="/images/services-list/5.svg" alt="Social Media Marketing">
                </a>
                <h3 class="services-list-item__title">
                  <a href="/services/smm">Social Media Marketing</a>
                </h3>
              </div>
            </li>
          </ul>