<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="page page_main">
    <script src="{{ "/javascripts/jquery-2.2.3.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
    <div class="page__browsehappy">
      <!--[if lt IE 8]>
      <p class="browsehappy">You are using<strong>old</strong> browser. Please, <a href="http://browsehappy.com" target="_blank">update browser</a></p><![endif]-->
    </div>
    {% include menu_en.html %}
    <div class="page__content">
      <div class="page__wrapper">
        {% include header_en.html %}
          {{ content }}

      </div>
    </div>
    <div class="page__overlay"></div>
    <script src="{{ "/javascripts/main.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
    <script src="{{ "/javascripts/plugins.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>

  </body>

</html>
